/* styles.css */

body {
  min-height: 100vh;
  background: #FFFFFF;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  /* add any other styles you want */
}

/* NavBar */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 124px;
    gap: 20px;
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #C9C8FF;
  }

.logo {
    width: 100px;
    height: 58px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

.logo-text {
    width: 100px;
    height: 21px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #212529;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 10px;
  }

  .one-paw-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 325px;
    padding-bottom: 50px;
    padding-left: 127px;
  }
  
  .one-paw-heading {
    width: 355px;
    height: 47px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    align-self: flex-start;
  }
  
  .one-paw-content {
    display: flex;
    justify-content: space-between;
    width: 100%; /* adjust the width if needed */
    max-width: 1200px; /* adjust the max-width if needed */
  }
  
  .one-paw-description {
    width: 417px;
    height: 166px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    align-self: flex-start;
  }

  .one-paw-image {
    position: absolute;
    top: 225px;
    right: 100px;
  }

/* Sponsor and Mission Section */

.sponsor-mission-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%; /* added */
  }


.sponsor-image {
    position: absolute;
    width: 178px;
    height: 135px;
    left: 132px;
    top: 910px;
    background: url(Screenshot 2023-04-28 at 3.32.png);
}

.sponsor-heading {
    position: absolute;
    width: 374px;
    height: 47px;
    left: 154px;
    top: 1025px;
    /* Heading 1 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    text-align: center;
    color: #000000;
}

.sponsor-description {
    position: absolute;
    width: 417px;
    height: 137px;
    left: 180px;
    top: 1125px;
    /* Body 1 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
}

.mission-heading {
    position: absolute;
    width: 434px;
    height: 47px;
    left: 696px;
    top: 1025px;
    /* Heading 1 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    text-align: center;
    color: #000000;
}

.mission-description {
    position: absolute;
    width: 434px;
    height: 130px;
    left: 735px;
    top: 1100px;
    /* Body 1 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #000000;
}

/* Our Projects Section */

.our-projects-section {
  position: absolute;
  width: 1280px;
  height: 1553px;
  left: 0px;
  top: 1400px;
  background-color: #5951B3;
}

.our-projects-heading {
  position: absolute;
  width: 236px;
  height: 47px;
  left: 522px;
  top: 60px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.our-projects-sub-heading {
  position: absolute;
  width: 340px;
  height: 57px;
  left: 482px;
  top: 130px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.resource-guideline-header {
  position: relative;
  width: 326px;
  height: 42px;
  margin-right: auto;
  margin-top: 320px; /* adjust as needed */
  margin-left: 100px; /* add margin to the left */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.resource-guideline-text {
width: 499px;
height: 134px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 130%;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
margin-left: 100px;
}

.resource-button-shape {
position: relative;
width: 195px;
height: 54px;
left: 95px;
top: -20px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.resource-button-text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 130%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #5951B3;
}

.resource-image {
  position: absolute;
  width: 400px;
  height: 250px;
  top: 320px;
  right: 125px;
}

.landing-page-header {
  position: absolute;
  top: 690px;
  right: 240px;
  width: 403px;
  height: 42px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  text-align: right;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.landing-page-text {
position: absolute;
top: 780px;
right: 115px;
width: 493px;
height: 125px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 130%;
color: #FFFFFF;
}

.landing-button-shape {
position: absolute;
width: 195px;
height: 54px;
right: 420px;
top: 930px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.landing-button-text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 130%;
color: #5951B3;
}

.landing-image {
  position: absolute;
  width: 400px;
  height: 250px;
  top: 715px;
  left: 90px;
}

.volunteer-header {
position: absolute;
top: 1100px;
left: 90px;
width: 427px;
height: 84px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 130%;
align-items: center;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

.volunteer-text {
  position: absolute;
  top: 1225px;
  left: 90px;
  width: 493px;
  height: 125px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  }

  .volunteer-image {
    position: absolute;
    width: 400px;
    height: 250px;
    top: 1100px;
    right: 125px;
  }

  .volunteer-button-shape {
  position: absolute;
  width: 195px;
  height: 54px;
  left: 90px;
  top: 1350px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  }

  .volunteer-button-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #5951B3;
  }

  .video-container {
    position: absolute;
    width: 828px;
    height: 418px;
    left: 300px;
    top: 3000px;
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
    width: 85%;
    height: 85%;
  }

  .about-heading {
    position: absolute;
    top: 3500px;
    left: 575px;
    width: 175px;
    height: 47px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
  }

  .about-text {
    position: absolute;
    top: 3575px;
    left: 565px;
    width: 220px;
    height: 26px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
  }

  .profile-photos {
    position: absolute;
    top: 3700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .profile-photos div {
    margin: 20px;
    text-align: center;
    width: 30%;
  }
  
  @media screen and (max-width: 768px) {
    .profile-photos div {
      width: 45%;
    }
  }

  .team-member-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
  }

  .footer {
    position: absolute;
    top: 4650px;
    background: #5951B3;
    width: 100%;
  }

  .footer-image {
    position:absolute;
    top: 23px;
    left: 75px;
  }

  .footer-logo-text {
    position: relative;
    left: 330px;
    width: 289px;
    height: 84px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    color: #FFFFFF;
   }